<div class="row">
    <h1><%= link_to 'Arena Decks', arena_card_decks_stats_path %></h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Hero</th>
          <th>Start Date</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win Rate</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @arena_card_decks.each do |arena_card_deck| %>
          <tr class="<%= arena_card_deck.add_games? ? 'info' : 'inactive' %>">
            <td><%= arena_card_deck.hero.display_name %></td>
            <td><%= arena_card_deck.created_at.to_formatted_s(:date) %></td>
            <td><%= arena_card_deck.num_games_won %></td>
            <td><%= arena_card_deck.num_games_lost %></td>
            <td><%= number_to_percentage(arena_card_deck.win_rate) %></td>
            <td><%= link_to 'Show', arena_card_deck %></td>
            <td><%= link_to 'Edit', edit_arena_card_deck_path(arena_card_deck) %></td>
            <td><%= link_to 'Destroy', arena_card_deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Arena card deck', new_arena_card_deck_path %>

</div>
