<%= form_for(@game_import) do |f| %>
  <% if @game_import.errors.any? || !@import_errors.empty? %>
    <div class="alert alert-danger">
      <ul>
      <% @game_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      <% @import_errors.each do |import_error| %>
        <li><%= import_error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="game_import_file">CSV File</label>
    <%= f.file_field :file %>
    <p class="help-block">File must be in comma seperated value (.csv) format.</p>
  </div>

  <div class="actions">
    <%= f.submit 'Import' %>
  </div>
<% end %>
