<h1>Game Imports</h1>

<table class="table">
  <thead>
    <tr>
      <th>File Name</th>
      <th># Games Imported</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_imports.each do |game_import| %>
      <tr>
        <td><%= game_import.file_name %></td>
        <td><%= game_import.num_games_imported %></td>
        <td><%= link_to 'Show', game_import %></td>
        <td><%= link_to 'Destroy', game_import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Import Games', new_game_import_path %>
